In [1]:
import sqlite3

In [6]:
conn = sqlite3.connect("C:/Users/sarah/Desktop/ODonnell/CellProfiler/Output/results.db")
with conn:
    c = conn.cursor()
    c.execute('SELECT * FROM MyExpt_Per_NaturalSpots')
    c.execute('SELECT * from sqlite_master')
    d = c.fetchall()
    #c.execute('CREATE VIEW areaSums as SELECT ImageNumber, NaturalSpots_Number_Object_Number, NaturalSpots_AreaShape_Area FROM MyExpt_Per_NaturalSpots GROUP BY ImageNumber,(NaturalSpots_Number_Object_Number-1)/5')

In [16]:
c.execute('CREATE VIEW areaSums as SELECT ImageNumber, NaturalSpots_Number_Object_Number, NaturalSpots_AreaShape_Area FROM MyExpt_Per_NaturalSpots GROUP BY ImageNumber,(NaturalSpots_Number_Object_Number-1)/5')
d = c.fetchall()

In [19]:
c.execute('SELECT * from areaSums')
d = c.fetchall()
for row in d:
    print(row)

(1, 1, 1983.0)
(1, 6, 571.0)
(1, 11, 1325.0)
(1, 16, 1319.0)
(1, 21, 866.0)
(1, 26, 1289.0)
(1, 31, 1408.0)
(2, 1, 0.0)
(2, 6, 3287.0)
(2, 11, 2292.0)
(2, 16, 2578.0)
(2, 21, 2534.0)
(2, 26, 2330.0)
(2, 31, 4513.0)
(4, 1, 0.0)
(4, 6, 2977.0)
(4, 11, 2594.0)
(4, 16, 2772.0)
(4, 21, 2505.0)
(4, 26, 2761.0)
(4, 31, 3216.0)
(5, 1, 0.0)
(5, 6, 562.0)
(5, 11, 1410.0)
(5, 16, 871.0)
(5, 21, 1985.0)
(5, 26, 1608.0)
(5, 31, 725.0)
(6, 1, 0.0)
(6, 6, 223.0)
(6, 11, 2226.0)
(6, 16, 85.0)
(6, 21, 2754.0)
(6, 26, 2248.0)
(6, 31, 34.0)
(7, 1, 0.0)
(7, 6, 3154.0)
(7, 11, 3087.0)
(7, 16, 3435.0)
(7, 21, 3140.0)
(7, 26, 3286.0)
(7, 31, 4082.0)

In [22]:
d[2]

(1, 11, 1325.0)